<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= title %></title> 

    <!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />

</head> 
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          </button>
          <a class="navbar-brand" href="/">PM 2.5</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/comm">Predict</a></li>
            <li><a href="/data">Search</a></li>
            <li><a href="/map">Map</a></li>
            <li><a href="#">About us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1>PM2.5 cloud platform</h1>
                    <h2 class="subtitle">Save the earth, Our Only Home.</h2>
                    <button type="button" class="btn btn-warning">
                        <a href="http://baike.baidu.com/link?url=-FkwrKOF_Aexj9Hou0a4OAZnxK_d7BQHZRmGbnXFFpyT3p-cgxz0wJaPy42UxiczNzaPpA6sno3XuF6CC6VTK-Sw3p8S4GWsxc7LvxlAKi6Setw99AkDCFSaFbFTaLgFXE735TtW8P3Yn_Jjp_nAtC1VzntXjsB2BbvyTHBI5YrKqgsnKCQVh3pr6kHgqzh2" target="_blank">
                            Learn more »</a></button>             
                </div>
                
            </div>
        </div>
    </div>
    <div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright"><a href="#">&copy; 联系我们</a></p>
            </div>
            <div class="col-md-6">
                <div class="credits">
                    <a href="#">PM2.5 cloud platform by SJTU</a> 
                </div>
            </div>
        </div>      
    </div>  
    </div>
    
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
